node_modules
dist
*.js
*.js.map
*.d.ts
!gulpfile.js
!bundlefile.js
!gulp-tasks/**/*.js
*.metadata.json
TODO.md
aot/
ng2-font-awesome/
.tmp/
bundles/
npm-debug.log
.vscode/
ngfactory/
!tasks-config.js
.tmp/
npm-debug.log*
bundles/
